.container {
  height: 100vh;
  position: relative;
  min-height: 620px;
}

.shape {
  position: absolute;
  top: 1px;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 36% 0, 60% 100%, 0% 100%);
  background-color: rgb(233, 18, 18);
  z-index: -1;
}

.content {
  height: 100%;
  width: 80%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 40px;
  color: white;
  width: 65%;
}

.textFirst {
  margin-top: 50px;
  font-size: 20px;
  line-height: 1.3;
  width: 80%;
  color: white;
  text-align: justify;
}

.textSecond {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.3;
  width: 85%;
  color: white;
  text-align: justify;
}

.textThird {
  margin-top: 20px;
  font-size: 30px;
  line-height: 1.3;
  color: white;
}

.center {
  margin-top: 50px;
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid white;
  outline: none;
  transition: 1s ease-in-out;
}

.btn svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: white;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image {
  width: 85%;
  height: 85%;
  object-fit: cover;
  border-radius: 10px;
  z-index: -2;
}

.contactContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.contactFromContainer {
  position: relative;
  max-height: 96%;
  width: 600px;
  background-color: white;
  border-radius: 10px;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.closeIcon:hover {
  background-color: #efefef;
}

.contactFromContainer form {
  padding: 30px 40px;
}

.contactFromContainer h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #050724;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid gray;
}

.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  resize: none;
  border-bottom: 1px solid gray;
}

.input:focus,
.textarea:focus {
  outline: none;
  border-bottom: 1px solid red;
}

.contactFromContainer label {
  color: gray;
}

.message {
  text-align: center;
}

.loadingButton {
  width: 100%;
  margin-top: 20px;
  padding: 8px 0;
  background-color: #efefef;
  font-weight: bold;
  color: red;
  border: 1px solid red;
  border-radius: 50px;
  cursor: not-allowed;
}

.loading {
  margin-left: auto;
  margin-right: auto;
  width: 29px;
  height: 29px;
  border: 3px solid rgba(121, 21, 21, 0.3);
  border-radius: 50%;
  border-top-color: red;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.submitButton {
  width: 100%;
  margin-top: 20px;
  padding: 12px 0;
  background-color: transparent;
  font-weight: bold;
  color: red;
  font-size: 18px;
  border: 1px solid red;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #efefef;
}

.circleOne {
  position: absolute;
  top: -100px;
  right: -200px;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: #ffc0c0;
  z-index: -5;
}

.circleTwo {
  position: absolute;
  bottom: -100px;
  right: -40px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #ffc0c0;
  z-index: -5;
}

.circleThree {
  position: absolute;
  bottom: 80px;
  right: 100px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #ffc0c0;
  z-index: -5;
}

@media (max-width: 1700px) {
  .content {
    padding-bottom: 40px;
  }
}

@media (max-width: 1700px) {
  .textFirst {
    font-size: 18px;
  }

  .textSecond {
    font-size: 18px;
  }
  .textThird {
    font-size: 26px;
  }
}

@media (max-width: 1350px) {
  .content {
    padding-bottom: 60px;
  }

  .title {
    font-size: 24px;
  }
}

@media (max-width: 1120px) {
  .textThird {
    font-size: 22px;
  }

  .image {
    width: 95%;
    height: 95%;
  }
}

@media (max-width: 980px) {
  .textFirst {
    font-size: 16px;
  }

  .textSecond {
    font-size: 16px;
  }

  .textThird {
    font-size: 20px;
  }

  .content {
    padding-bottom: 70px;
  }

  .image {
    width: 100%;
  }
}

@media (max-width: 822px) {
  .right {
    display: none;
  }

  .shape {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .content {
    padding-bottom: 100px;
  }

  .title {
    text-align: center;
    width: 100%;
    font-size: 40px;
  }

  .textFirst {
    width: 100%;
    font-size: 20px;
  }

  .textSecond {
    width: 100%;
    font-size: 20px;
  }

  .textThird {
    width: 100%;
    font-size: 26px;
  }

  .center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .contactFromContainer {
    width: 90%;
  }
}

@media (max-width: 520px) {
  .content {
    padding-bottom: 130px;
  }

  .title {
    padding-top: 10px;
    font-size: 36px;
  }

  .textFirst {
    font-size: 18px;
  }

  .textSecond {
    font-size: 18px;
  }

  .textThird {
    font-size: 24px;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 30px;
  }

  .textFirst {
    font-size: 16px;
  }

  .textSecond {
    font-size: 16px;
  }

  .textThird {
    font-size: 22px;
  }
}
